@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.aboutimg{
    width: 15%;
}
table{
    text-align: center;
    width: 90%;
    border-radius: 5px;
    border-color: rgb(180, 180, 160);
   
}

.aboutnum{
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

.thank{
    font-size:25px ;
    text-align: center;
    color: rgb(96, 134, 167);
}

.detail{
    font-size: 18px;
    color: rgb(59, 79, 97);
    margin-left: 7%;
}

.logo{
    width: 30%;
    padding: 0.5%;
    border: 1px solid rgb(153, 137, 137);
    border-radius: 3px;
    opacity: 0.8;
    margin-top: 5%;
    margin-bottom: 30%;
}