@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.img{
    display: block;
    width: 80vw;
    height: 50vw;
    margin-left:auto ;
    margin-right: auto;
}
.btn{
    margin-top: 3%;
    font-size: 18px;
    
    margin-bottom: 2%;
    background-color: gainsboro;
    border: 0.1px solid rgb(238, 35, 8);
    border-radius: 5px;
}
.btn:hover{
    transform: scale(1.05,1.05);
}
#name{
    text-align: center;
    margin-top: 2%;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}


.tblimg{
    width: 32%;
}
.tblimg:hover{
    transform: scale(0.99,0.99);
}
