
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
.placehead{
    font-size: 23px;
    color:#65647a;
}
.placeimg{
    width: 80%;
}
.placepara{
    margin-left: 1%;
    margin-right: 1%;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}
